{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/prefer-as-const": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/ban-types": "off",
    "no-self-assign": "off",
    "no-prototype-builtins": "off",
    "no-var": "off"
  }
}